<!DOCTYPE html>
<html lang="vi">

	<head>
		<meta charset="utf-8">
		{{ options.seo_tags }}
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		{{ function('wp_head') }}
		<link rel="stylesheet" href="{{ theme.link }}/public/css/style.css" type="text/css" />
		{{ options.google_analytic }}
	</head>

	<body>
		<div class="page-wrapper">
			{% include 'base/header.html' %}
			{% block content %}
				{# Nội dung sẽ hiển thị ở đây #}
			{% endblock %}
			{% include 'base/footer.html' %}
		</div>
		{{ function('wp_footer') }}
		<script src="{{ theme.link }}/public/js/script.js"></script>
	</body>

</html>